* {
    margin: 0;
    padding: 0;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 1fr 1fr 1fr 1fr 0.3fr 0.15fr;
    gap: 0px 0px;
    font-family: sans-serif;
    background-color: beige;
    grid-template-areas:
        "header header header header"
        "seccion1 seccion1 seccion1 seccion1"
        "seccion1 seccion1 seccion1 seccion1"
        "seccion2 seccion2 seccion2 seccion2"
        "seccion2 seccion2 seccion2 seccion2"
        "suscripcion suscripcion suscripcion suscripcion"
        "footer footer footer footer";
}
.navbar-brand img{
    width: 150px;
}
.navbar{
    background-color: rgb(210, 236, 237);
}

.navbar li:hover {
    background-color: rgb(105, 144, 192);
    border-radius: 20px;
    font-size: 110%;
}

.seccion1 {
    grid-area: seccion1;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.titular1 {
    max-width: 20vw;
    align-items: center;
}

.titular1 h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 200%;
}

.titular1 p {
    margin-bottom: 20px;
    font-size: x-large;
}

.imagenTitular img {
    max-height: 550px;
}

.seccion2 {
    grid-area: seccion2;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.seccion2 iframe {
    max-width: auto;
}

.titular2 {
    max-width: 20vw;
    align-items: center;
    margin-left: 80px;
}

.titular2 h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 200%;
}

.titular2 p {
    margin-bottom: 20px;
    font-size: x-large;
}

.suscripcion {
    grid-area: suscripcion;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input:focus {
    width: 450px;
    transition: 0.5s;
    background-color: white;
    margin: 0 auto;
}
.titular3 {
    max-width: 80vw;
    align-items: center;
    margin-left: 80px;
}
.titular3 h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 200%;
}

.titular3 p {
    margin-bottom: 20px;
    font-size: x-large;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: rgb(210, 236, 237);
    max-height: 10vh;
    justify-content: center;
    align-items: center;

}

.footer li {
    list-style: none;
    padding: 20px;
    height: auto;
    text-align: center;
    width: 100%;
}

.footer ul {
    display: flex;
    width: 100%;
}

.footer li:hover {
    background-color: rgb(105, 144, 192);
    border-radius: 20px;
    font-size: 110%;
}

@media (max-width:1200px) {
    .grilla {
        grid-template-areas:
            "header header header header"
            "seccion1 seccion1 seccion1 seccion1"
            "seccion1 seccion1 seccion1 seccion1"
            "seccion2 seccion2 seccion2 seccion2"
            "seccion2 seccion2 seccion2 seccion2"
            "suscripcion suscripcion suscripcion suscripcion"
            "footer footer footer footer";
    }

    .seccion1 {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .titular1 {
        max-width: 80vw;
        align-items: center;
    }

    .titular1 h1 {
        text-transform: none;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 200%;
    }

    .titular1 p {
        margin-bottom: 10px;
        font-size: medium;
    }

    .imagenTitular img {
        max-height: 600px;
    }

    .seccion2 {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .titular2 {
        max-width: 80vw;
        align-items: center;
        margin-left: 0;
    }

    .titular2 h1 {
        text-transform: none;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 200%;
    }
    .titular2 p {
        margin-bottom: 10px;
        font-size: medium;
    }
    .seccion2 iframe {
        max-width: 450px;
    }
    .form input:focus {
        display: none;
    }
    .header li:hover {
        background-color: rgb(105, 144, 192);
        border-radius: 0;
        font-size: 100%;
        max-height: 10px;
    }
    .footer li:hover {
        background-color: rgb(105, 144, 192);
        border-radius: 0;
        font-size: 100%;
        max-height: auto;
    }
}